{{- $git := index . "git" -}}
{{- $email := "" -}}
{{- $name := "" -}}
{{- if $git -}}
  {{- $email = (index $git "email") -}}
  {{- $name = (index $git "name") -}}
{{- end -}}
[user]
	email = {{ $email | quote }}
	name = {{ $name | quote }}
