#!/usr/bin/env bash
set -euo pipefail

export DOTFILES_INSTALL_APT="{{ .install.apt | ternary "1" "0" }}"
export DOTFILES_INSTALL_BREW="{{ .install.brew | ternary "1" "0" }}"
export DOTFILES_INSTALL_BUN="{{ .install.bun | ternary "1" "0" }}"
export DOTFILES_INSTALL_MISE="{{ .install.mise | ternary "1" "0" }}"
export DOTFILES_INSTALL_OHMYZSH="{{ .install.ohmyzsh | ternary "1" "0" }}"
export DOTFILES_INSTALL_FLYCTL="{{ .install.flyctl | ternary "1" "0" }}"

SCRIPT_DIR="$(cd -- "$(dirname -- "${BASH_SOURCE[0]}")" && pwd)"
exec /bin/bash "${SCRIPT_DIR}/install/after_prereqs.sh" "$@"
